bin
fitnesse/FitNesseRoot/ErrorLogs
fitnesse/FitNesseRoot/files/testResults
fitnesse/FitNesseRoot/files/soap
fitnesse/FitNesseRoot/files/*.html
fitnesse/FitNesseRoot/RecentChanges
folderRunner/reports
folderRunner/tests/files/css
folderRunner/tests/files/images
PDFBox.log
runnerResults
testPropertyFile.txt
velocity.log
